#contain{
    padding: 20px;
    margin: clamp(50px, 10vh, 200px) 0;
}



#header{
    background: var(--secondary-bg);
    width: 50%;
    float: left;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.5em;
    align-self: flex-start;
    margin-right: 30px;
}


#header h2{
    background: linear-gradient(-45deg, var(--custom-four));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rotate-bg 1s infinite;
}

#header p{
    margin-bottom: 0;
}

#options{
    width: 30%;
    float: right;
    padding:10px;
    margin-left: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.5em;
    align-self: flex-start;
    margin-top: 45px;
}

.content-item {
    display: flex;
    align-items: center; 
    margin-bottom: 2px; 
}
  
.left {
    flex: 1; 
     
}
.left p{
    margin: 0;
}
  
.right {
    flex: 1; 
}


.videoContainer{
    
}