
.ml{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    height: 500px;
    width: 100%;
}


.upload-container {
    background: var(--secondary-bg);
    backdrop-filter: var(--filter-bg);
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    justify-content: center;
    /* height:350px;
    width: 500px; */
    height:100%;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 5px;
    
    float:left;
}
  
.upload-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: #007bff;
}


.upload-icon p {
    margin-top: 8px;
}

button {
    margin-top: 10px;
}
  
.selected-file {
    margin-top: 20px;
}

.web{
    background: var(--secondary-bg);
    backdrop-filter: var(--filter-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255,255,255,0.5);
   
    /* height: 310px;
    width: 500px; */
    height:100%;
    flex:1;
    border-radius: 5px;
}

